<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093665308426-6tfp7bjg3cj4foght5u525to09q50hps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093665308426-6tfp7bjg3cj4foght5u525to09q50hps</string>
	<key>API_KEY</key>
	<string>AIzaSyCqr-OB-M3VdzJ_4n3rlJb2UZ3gvFRHSNw</string>
	<key>GCM_SENDER_ID</key>
	<string>1093665308426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-chat-21a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-chat-21a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093665308426:ios:3d84bdb2dc90370b3984f3</string>
</dict>
</plist>